/*Basic reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

/*Global styles*/

button {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  transition: 200ms ease-in-out;
}

button:hover {
  transform: scale(1.1);
  background-color: #1e1e1e;
}

/*Products container styling*/

.productsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
  margin-inline: auto;
  width: 60%;
}

/*Product card styling*/

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.productCard img {
  width: 100%;
  max-width: 8rem;
  transition: 200ms ease-in-out;
}

.productCard img:hover {
  transform: scale(1.1) rotate(1deg);
}

.productCard h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: 550;
}

.productCard button {
  padding: 0.15rem;
}

/*Product cart styling*/

.productCart ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.productCart {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  justify-content: center;
  margin-inline: auto;
  width: 60%;
  text-align: center;
}

.productCart h2 {
  margin-bottom: 1rem;
}

.productCart h3 {
  margin-top: 2rem;
}

.cartItem {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.cartItem button {
  padding-inline: 0.25rem;
}

.priceAndButtons {
  display: flex;
  gap: 1rem;
}

.plusMinusButtons {
  display: flex;
  gap: 0.5rem;
}

.divider {
  border-top: 1px solid lightgrey;
  width: 100%;
  margin-block: 1rem;
}

/*Media queries*/

@media screen and (min-width: 768px) {
  .productsContainer {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
